beautifulsoup4==4.5.1
chardet==2.3.0
coreapi==2.0.8
Django==1.10.2
django-crispy-forms==1.6.0
django-extensions==1.7.4
django-filter==0.15.2
django-guardian==1.4.6
django-modeltranslation==0.12
django-newsletter==0.6
django-rest==0.0.1
django-tastypie==0.13.3
django-tinymce==2.2.0
django-webtest==1.8.0
djangorestframework==3.4.7
itypes==1.1.0
ldif3==3.1.1
Markdown==2.6.7
Pillow==3.4.1
pycrypto==2.6.1
python-card-me==0.9.3
python-dateutil==2.5.3
python-mimeparse==1.5.3
requests==2.11.1
six==1.10.0
smarturls==0.1.4
sorl-thumbnail==12.3
surlex==0.2.0
unicodecsv==0.14.1
uritemplate==3.0.0
waitress==1.0.0
Wand==0.4.3
WebOb==1.6.1
WebTest==2.0.23
